<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n"/>
        </Console>
        <RollingRandomAccessFile name="FileError" fileName="./logs/actor/dev-error.log"
                                 filePattern="./logs/actor/dev-error.log.%i">
            <PatternLayout pattern="%msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="50"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="FileInfo" fileName="./logs/actor/dev-info.log"
                                 filePattern="./logs/actor/dev-info.log.%i">
            <PatternLayout pattern="%msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="50"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="SystemInfo"
                                 fileName="./logs/system/dev-system.log"
                                 filePattern="./logs/system/dev-system.log.%i">
            <PatternLayout pattern="%msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="50"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger name="tm.raftel.util.aws_kinesis">
            <!--            <AppenderRef ref="Console"/>-->
            <AppenderRef ref="FileInfo"/>
            <!--            <AppenderRef ref="FileError"/>-->

        </Logger>
        <Root>
            <!--            <AppenderRef ref="Console"/>-->
            <AppenderRef ref="SystemInfo"/>
        </Root>
    </Loggers>
</Configuration>